:root {
    
/* Color styles */
--white: rgba(255, 255, 255, 1);
--black: rgba(0, 0, 0, 1);
--greyblue: rgba(105, 136, 146, 1);
--red: rgba(197, 25, 25, 1);
--darkblue: rgba(15, 56, 72, 1);
--grey: rgba(229, 229, 229, 1);
--dark-grey: rgba(209, 209, 209, 1);

/* Text-size styles */
--buttondecouverte: 1.5rem;
--cantatamisenavant: 11.125rem;
--informationsobligatoires: 0.688rem;
--belvederetitre: 2.25rem;
--textepindex: 1.375rem;
--titrearticle: 1.625rem;
--légende: 0.875rem;
--texte: 1rem;


/* Effect styles */
--shadow-1:  0px 4px 6px rgba(0, 0, 0, 0.54);

}