/*header index*/

.header {
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.header__index {
    margin-top: 1vh;
    padding-left: 20vh;
    display: flex;
    align-items:center;
    justify-content: space-between;
  }


  .header__titreindex {
      display: flex;
      flex-direction: column;
  }

.header__background {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        width: 100%;
        object-fit: cover;
    }

.header__iconeindex{
    padding-right: 12vh;

}

/*header autres pages*/

.header__all {
    width: 100%;
    position: fixed;
    display: flex;
    gap: 5px;
    list-style: none;
    margin: 0;
    padding: 0;
    z-index: 3;
    padding-top: 12px;
}

.header__logo {
    margin-top: -20px;
    padding-right: 50px;
}

.header__titre {
    margin-top: O;
    font-size: var(--textepindex);
    color: var(--white);
    font-family: 'Cantata One', serif;
}



