
.carrousel__images {
    position: absolute;
    width: 546px;
    height: 316px;
}

.carrousel__image {
    position: absolute;
    width: 182px;
    height: 316px;
    z-index: -1;
}


.carrousel {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 182px;
    height: 406px;
    padding: 0px;
    position: relative;
    overflow: hidden;
    margin: auto !important;
    padding-top: 50px;
    background-color: var(--grey);
    padding-bottom: 50px;
    z-index: -1;

}

.carrousel__mep{
    margin-top: 100px;
}
.carrousel__bloc {
    position: absolute;
    width: 182px;
    height: 316px;
    }

.carrousel__p{
    font-family: var(--roboto);
    background-color: var(--grey);
    z-index: 3;
    margin-top: -6vh;
    margin-left: 1px;
    margin-right: 1px;

}

